body {
  /* padding: 0; */
  margin: 0;
  /* background-color: #000; */
  width: 100dvw;
  /* height: 100dvh; */
  overflow-x: hidden;
  color: #333;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #e77832;
}
p {
  margin: 0;
  padding: 0;
}
/* Force english info in about page to use font metropolis */
.info_en {
  font-family: metropolis;
}
