html {
  overflow-y: scroll;
  scrollbar-width: none;
  overflow-x: hidden;
}
body {
  margin: 0;
  width: 100dvw;
  overflow-x: hidden;
  color: #333;
}
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #e77832;
}
p {
  margin: 0;
  padding: 0;
}
/* Force english info in about page to use font metropolis */
.info_en {
  font-family: metropolis;
}

@media (max-width: 768px) {
  .logo-desktop {
    display: none !important;
  }
  .slick-dots {
    bottom: 22px !important;
  }
  .slick-dots li button::before {
    color: #fff !important;
    opacity: 1 !important;
  }
  .slick-dots li.slick-active button::before {
    color: #e77832 !important;
    opacity: 1 !important;
  }
}
