.aboutMenuBlock {
  width: 50%;
  min-width: 590px;
  margin-top: 44px;
  position: absolute;
  z-index: 2;
  /* background-color: blue; */
  /* float: right; */
  right: 0;
}
.tabContainer {
  height: 70vh;
  top: 18vh;
  overflow: scroll;
  color: #fff;
  scrollbar-width: none;
  margin-right: 50px;
}

.aboutContent p,
.aboutContent div {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.08em;
  text-align: justify;
  text-justify: distribute;
}
.tw {
  font-family: noto_sans_jp;
}
.en {
  font-family: metropolis;
}

.timelineAllBlock {
  display: inline-flex;
  margin-bottom: 20px;
  width: 100%;
}
.timelineYear {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.08em;
  width: 100px;
  display: inline-block;
  top: 5px;
  position: relative;
  font-family: metropolis;
}
.timelineContentBlock {
  display: inline-grid;
  margin-top: 12px;
}
.timelineContentTW p {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.08em;
  margin-bottom: 2px;
  max-width: 400px;
  font-family: noto_sans_jp;
}
.timelineContentEN p {
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: 0.08em;
  margin-bottom: 0;
  max-width: 400px;
  text-align: justify;
  text-justify: distribute;
  font-family: metropolis;
}

.reviewTitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.08em;
  color: #fff;
}
.reviewFD {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.05em;
  color: #fff;
  opacity: 0.8;
}
.arrowGoTo {
  padding-top: 10px;
  cursor: pointer;
}
.infoContent {
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.05em;
  margin-bottom: 0;
  font-family: noto_sans_jp;
}

/* .hyperlink {
    margin-top: 10px;
  } */
.socialMediaBlk {
  margin-top: 30px;
}
.socialMedia {
  padding-right: 30px;
}
.FB img {
  height: 24px;
}
.YT img {
  height: 17px;
}
.IG img {
  height: 19px;
}
